@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

    @font-face {
        font-family: "Brush";
        src: url('/css/fonts/Brush.otf');
        font-weight: normal;
        font-style: normal;
    }

    .brushFont {
        font-family: "Brush";
    }

    @font-face {
        font-family: Lous;
        src: url('/css/fonts/Lous.otf');
        font-weight: normal;
        font-style: normal;
    }

    .lousFont {
        font-family: "Lous";
    }
}

@layer utilities {
    @variants responsive {

        .no-scrollbar::-webkit-scrollbar {
            display: none;
        }

        .no-scrollbar {
            -ms-overflow-style: none;
            scrollbar-width: none;
        }
    }
}